* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 90vh;
    width: 100vw;
}

.error-text
{
    color:red;
}

.info-text
{
    color: blue;
}

.blink {
    animation-duration: .8s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes blink {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}


.is-hidden {
    display: none;
}

nav ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    height: 10vh;
    font-size: large;
}

nav ul li:hover {
    background: #ADD19E;
}

nav ul li a {
    text-decoration: none;
    color: black;
}